
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    color: #292929;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
}

.wrapper .button {
    display: inline-flex;
    align-items: center;
    height: 45px;
    width: 120px; /* Adjusted for better spacing */
    background: #292929; /* Background color */
    border-radius: 55px;
    transition: all 0.3s ease-out;
    text-decoration: none; /* Remove link underline */
    margin: 10px;
}

.wrapper .button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background: #fff; /* White background for the circle */
    border-radius: 50%;
    border: 2px solid #292929;
    margin-right: 5px;
}

.wrapper .button .icon img {
    max-height: 100%;
    max-width: 100%;
}

.wrapper .button span {
    font-size: 16px;
    font-weight: 400; /* Slightly bolder text */
    color: #fff; /* Text color */
}



.nav-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the About Us text */
    position: relative;
    padding: 10px;
}

.wrapper, .text{
    position: absolute;
    left: 50px; /* Position "Back" button on the left */
    display: flex;
    align-items: center;
}

.about-us .contact-us h4 {
    margin: 0;
    padding: 0 10px;
}

h4{
    display: inline-block;
    box-shadow: inset 0 -30px 0 rgba(255,229,119), 0 2px 0 rgba(255,229,119);
    border-radius: 10px;
    overflow: hidden;
    font-size: 32px;
}

/* Background Image */
.about-img {
    background-image: url('./img/AboutImg.png');
    background-position: center center; /* Center the image inside the container */
    background-size: cover; /* Ensures the image covers the entire container area */
    border-radius: 20px; /* Rounds the corners */
    max-width: auto;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 50px; /* Centers the container within its parent */
    padding: 0 20px; /* Adds white space on the left and right */
    border: 2px solid #000000;
    box-shadow: 0 6px #000000;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 20px; /* Rounds the corners */
}

.text-company{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    padding-left: 50px;
}

.logo {
    position: absolute; /* Positioning the logo inside the image */
    top: 20px; /* Adjust distance from the top */
    right: 20px; /* Adjust distance from the right */
    z-index: 1; /* Ensure the logo is above the overlay */
}

.logo img {
    width: 140px; /* Adjust size of the logo */
    height: auto;
}

@media (max-width: 992px){
    .wrapper, .text {
        position: absolute;
        left: 15px; /* Position "Back" button on the left */
    }
    .about-img {
        min-height: 85vh;
        margin: 0 15px; /* Centers the container within its parent */
    }
    .about-us h4 {
        font-size: 24px;  /* Increase font size for smaller screens if needed */
        text-align: center;  /* Center the text */
    }
    .text-company{
        font-size: 18px;
        padding-left: 20px;
    }
    .logo {
        top: 10px; /* Adjust distance from the top */
        right: 10px; /* Adjust distance from the right */
    }
    .logo img {
        width: 120px; /* Adjust size of the logo */
        height: auto;
    }
}

/* Mobile view adjustments */
@media (max-width: 768px) {

    .wrapper .button .icon img {
        width: 25px; /* Adjust this value as needed */
        height: 25px; /* Maintain aspect ratio or set specific size */
        object-fit: contain; /* Ensures the image maintains its aspect ratio inside the icon */
    }

    .wrapper, .text {
        position: absolute;
        left: 10px; /* Position "Back" button on the left */
    }

    .about-us .contact-us h4 {
        font-size: 20px;  /* Increase font size for smaller screens if needed */
        text-align: center;  /* Center the text */
    }

    /* Shrink the button in mobile view */
    .wrapper .button {
        height: 30px;  /* Reduce height of the button */
        width: 90px;  /* Reduce width of the button */
        margin-top: -1px;
    }

    .wrapper .button .icon {
        height: 30px;  /* Adjust icon size */
        width: 30px;   /* Adjust icon size */
        line-height: 40px;  /* Center icon vertically */
    }

    .wrapper .button span {
        font-size: 14px;  /* Reduce font size */
        line-height: 40px;  /* Adjust line height */
    }
    .about-img {
        min-height: 60vh;
        margin: 0 10px;  /* Remove side margin for smaller screens */
    }
    .text-company{
        font-size: 16px;
    }
    .logo {
        top: 5px; /* Adjust distance from the top */
        right: 5px; /* Adjust distance from the right */
    }
    .logo img {
        width: 80px; /* Adjust size of the logo */
        height: auto;
    }
}

/* Container styling */
.container {
    padding: 2rem 0;
}

/* Text section styling */
.text-section p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 42px;
    color: #333;
    text-align: justify;
    margin: 0;
}

/* Image section styling */
.image-section {
    text-align: center;

}

.image-section img {
    width: 90%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #292929;
    box-shadow: 0 6px #292929;
}

.container-2 {
    background-color: #F3F8FF;
    margin: 0;
    padding-bottom: 0; /* Ensure no padding on bottom */
}

.container-3 {
    background-color: #4A4C55;
    margin: 0;
    padding-top: 0; /* Ensure no padding on top */
}


@media (max-width: 992px){
    .text-section p{
        font-size: 18px;
        line-height: 32px;
    }
    .image-section img{
        width: 90%;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .text-section, .image-section {
        text-align: center;
    }
    .text-section p {
        padding: 0 30px;
    }
    .image-section img{
        width: 85%;
    }
    .mapswrapper{
        width: 100vh;
    }
    .contact-text{
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 20px 0;
        font-size: 12px;
    }
}

.contact-text{
    color: #fff;
    text-decoration: none;
    align-content: center;
    font-size: 18px;
}

.mapswrapper {
    height: 40vh; /* 50% of the viewport height */
}

.facebook-link{
    padding-left: 20px;
}