/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
}
.container-worker {
  margin-left: 60px;
  margin-right: 60px;
}
.worker-highlight {
  display: inline;
  background-color: #fef9d9;
  padding: 0 5px;
  border-radius: 7px;
}
.worker-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.content-wrapper {
  flex-grow: 0.5;
}

.table-responsive {
  overflow-x: auto;
  overflow-y: auto;
}
.worker-table {
  width: 100%;
  border-radius: 11px;
  overflow: hidden;
}

td,
th {
  font-size: 0.8rem;
}

.add-button {
  background-color: #fcf4b9;
  border-radius: 20px;
  text-transform: uppercase;
  width: 100%;
  max-width: 170px;
  font-size: 13px;
  padding: 7px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.add-button:hover {
  background-color: #faef9b;
  box-shadow: 0 5px #2b2b2b;
}
.save-button {
  background-color: #fcf4b9;
  text-transform: uppercase;
  border-radius: 20px;
  width: 100%;
  font-size: 13px;
  max-width: 150px;
  padding: 7px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.save-button:hover {
  background-color: #faef9b;
  box-shadow: 0 5px #2b2b2b;
}

#FullName,
#Email,
#PhoneNumber,
#Password {
  background-color: #f3f8ff;
}
input.is-invalid,
select.is-invalid,
textarea.is-invalid {
  border-color: #dc3545 !important;
}

.clearNotif {
  font-size: 0.8rem !important; /* Smaller font size */
  padding: 4px 5px !important; /* Reduce padding */
}

#nf-btn {
  font-size: 0.9rem !important; /* Adjust as needed */
  padding: 2px 4px !important; /* Reduce padding */
}

.notif-container {
  max-width: 290px !important; /* Smaller width */
  padding: 6px !important;
  font-size: 0.75rem !important;
}

/* Smaller notification header */

.notification-content {
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
}

.notification-item {
  max-width: 250px !important; /* Set a smaller width */
  margin: 5px auto !important; /* Center and reduce margin */
  padding: 4px 8px !important;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 5px !important; /* Slightly rounded corners */
}

.notification-icon {
  width: 25px !important;
  height: 25px !important;
  margin-right: 4px !important;
}

.notif_message {
  font-size: 0.8rem !important;
}

.notif_date {
  font-size: 0.75rem !important;
}

/* --------------------------------------------End: Main Desktop View---------------------------------------------*/

/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/

@media (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }
  .worker-page {
    box-shadow: 0 6px #2b2b2b;
  }

  .sidebar.collapsed ~ main {
    padding-left: 4.75rem;
  }
}

@media (max-width: 767.98px) {
  .worker-page {
    min-height: 74vh;
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }

  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 280px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.75rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.75rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }
  .container-worker {
    margin-left: 0px;
    margin-right: 0px;
  }

  .scrollable-table {
    max-width: 100%;
    overflow-x: auto;
  }
  td,
  th {
    font-size: 0.7rem;
  }
  nav {
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .navbar-link {
    background-color: #ffffff;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }
  .navbar-link:hover {
    background-color: #ffffff;
    border-radius: 50%;
  }
  .yellow {
    min-height: 5vh;
    background-color: #faef9b;
    border: solid 1px #2b2b2b;
    overflow-y: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 400px){
  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 265px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.7rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.7rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }
}
/* --------------------------------------------End: Main Responsive View---------------------------------------------*/
