/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
}

.container-top {
  margin-left: 60px;
  margin-right: 60px;
}

.reports-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 77vh;
}

.reports-highlight {
  display: inline;
  background-color: #fef9d9;
  padding: 0 5px;
  border-radius: 7px;
}

.content-wrapper {
  flex-grow: 0.5;
}

.label-container {
  width: auto;
  border: 1.2px solid #2b2b2b;
  margin-left: 30px;
  margin-right: 10px;
}

.input-group {
  margin-left: 30px;
  margin-right: 10px;
}

.label-container a {
  font-size: 12px;
  padding: 5px;
}

.container-label {
  flex-direction: column;
  margin-left: 30px;
}

.cycle-container {
  display: flex;
  gap: 0.8rem;
}

.filter-container {
  display: flex;
  gap: 0.8rem;
  margin-right: 40px;
}

.btn-label.label-current {
  background-color: #faef9b;
  font-weight: 600;
  font-size: 12px;
}

.btn-label.label-current:hover {
  background-color: #faef9b;
}

.btn-label.label-not:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}

.btn-date.date-current {
  background-color: #faef9b;
  font-weight: 700;
}

.btn-date.date-current:hover {
  background-color: #faef9b;
}

.btn-date.date-not:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}

.date-container a {
  font-size: 12px;
}

.btn-group {
  height: 30px;
}

.descriptive-analytics-container p,
#weightGain,
#previousWeight {
  font-size: 12px;
}
.descriptive-analytics-container p {
  margin-left: 25px;
}

#date-range-label,
#average-value,
#min-value,
#max-value {
  font-size: 12px;
}

.select-harvest-btn {
  background-color: #fcf4b9;
  border-radius: 6px;
  border: solid 1px #2b2b2b;
  font-size: 12px;
  width: 100%;
  width: 120px;
  height: 30px;
  padding: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.filter-btn {
  background-color: #fcf4b9;
  border-radius: 6px;
  border: solid 1px #2b2b2b;
  font-size: 12px;
  width: 100%;
  width: 120px;
  height: 30px;
  padding: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.select-harvest-btn:hover,
.filter-btn:hover {
  background-color: #faef9b;
  box-shadow: 0 2px #2b2b2b;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.container-chart {
  margin-left: 85px;
  margin-right: 57px;
}

.chart-container {
  width: 100%;
  width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
}
.clearNotif {
  font-size: 0.8rem !important; /* Smaller font size */
  padding: 4px 5px !important; /* Reduce padding */
}

#nf-btn {
  font-size: 0.9rem !important; /* Adjust as needed */
  padding: 2px 4px !important; /* Reduce padding */
}

.notif-container {
  max-width: 290px !important; /* Smaller width */
  padding: 6px !important;
  font-size: 0.75rem !important;
}

/* Smaller notification header */

.notification-content {
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
}

.notification-item {
  max-width: 250px !important; /* Set a smaller width */
  margin: 5px auto !important; /* Center and reduce margin */
  padding: 4px 8px !important;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 5px !important; /* Slightly rounded corners */
}

.notification-icon {
  width: 25px !important;
  height: 25px !important;
  margin-right: 4px !important;
}

.notif_message {
  font-size: 0.8rem !important;
}

.notif_date {
  font-size: 0.75rem !important;
}

.space2 {
  min-height: 5vh;
  overflow-y: auto;
}

/* --------------------------------------------End: Main Desktop View---------------------------------------------*/

/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/

@media (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }

  .reports-page {
    box-shadow: 0 6px #2b2b2b;
  }

  .sidebar.collapsed ~ main {
    padding-left: 4.75rem;
  }
}

@media (max-width: 965px) {
  .date-container a {
    font-size: 11px !important;
  }

  .date-picker {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-top {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-chart {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .reports-page {
    height: 100%;
    min-height: 78vh;
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }

  nav {
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 280px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.75rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.75rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }

  .container-chart {
    margin-left: 0px;
  }

  .select-harvest-btn {
    width: 113px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 113px;
    height: 30px;
    padding: 3px;
  }

  .input-group {
    margin-left: 13px;
    margin-right: 2px;
  }

  .label-container {
    width: auto;
    border: 1.2px solid #2b2b2b;
    margin-left: 13px;
    margin-right: 2px;
  }

  .filter-container {
    gap: 12.5rem;
    margin-right: 0px;
  }

  .container-label {
    margin-left: 5px;
  }

  .cycle-container {
    gap: 12.5rem;
  }

  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .date-container {
    margin-left: 0px;
  }

  .date-container a {
    font-size: 11px !important;
  }

  .btn-group {
    height: 30px;
    width: 100%;
    width: auto;
    max-width: 600px;
  }

  .date-pick-size {
    margin-left: 0px;
    margin-right: 0px;
  }

  .input-group-text {
    margin-right: 0px;
  }

  .date-picker {
    margin-left: 0px;
    margin-right: 0px;
  }

  .container-top {
    margin-left: 0px;
    margin-right: 0px;
  }

  .container-chart {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-link {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }

  .navbar-link:hover {
    border-radius: 50%;
  }

  .space {
    min-height: 5vh;
    overflow-y: auto;
  }

  .yellow {
    min-height: 5vh;
    background-color: #faef9b;
    border: solid 1px #2b2b2b;
    overflow-y: auto;
  }
}

@media (min-width: 992px) {
  .chart-container {
    width: 100%;
    min-width: 200px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
  }

  .label-container {
    width: auto;
    border: 1.2px solid #2b2b2b;
  }

  .container-label {
    margin-left: 0px;
  }

  .filter-container {
    margin-right: 0px;
  }
}

@media (min-width: 1124px) {
  .container-label {
    flex-direction: row;
    /* Switch to row layout */
  }
}

@media (max-width: 1123px) and (min-width: 769px) {
  .container-label {
    margin-left: 0px;
  }

  .filter-container {
    margin-right: 0px;
  }
}

@media (max-width: 541px) {
  .filter-container {
    gap: 11.5rem;
  }

  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .cycle-container {
    gap: 11.5rem;
  }
}

@media (max-width: 501px) {
  .filter-container {
    gap: 8.8rem;
  }

  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .cycle-container {
    gap: 8.8rem;
  }
}

@media (max-width: 466px) {
  .filter-container {
    gap: 6.7rem;
  }

  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .cycle-container {
    gap: 6.7rem;
  }
}

@media (max-width: 431px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .filter-container {
    gap: 5.7rem;
  }

  .cycle-container {
    gap: 5.7rem;
  }
}

@media (max-width: 415px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .filter-container {
    gap: 4.5rem;
  }

  .cycle-container {
    gap: 4.5rem;
  }
  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 265px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.7rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.7rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 391px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .filter-container {
    gap: 3rem;
  }

  .cycle-container {
    gap: 3rem;
  }
}

@media (max-width: 376px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .filter-container {
    gap: 2rem;
  }

  .cycle-container {
    gap: 2rem;
  }
}

@media (max-width: 361px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .select-harvest-btn {
    width: 100px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 100px;
    height: 30px;
    padding: 3px;
  }

  .filter-container {
    gap: 2.8rem;
  }

  .cycle-container {
    gap: 2.8rem;
  }
}

@media (max-width: 345px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
  }

  .select-harvest-btn {
    width: 95px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 95px;
    height: 30px;
    padding: 3px;
  }

  .filter-container {
    gap: 2.5rem;
  }

  .cycle-container {
    gap: 2.5rem;
  }
}

@media (max-width: 321px) {
  .label-container {
    border: 1.2px solid #2b2b2b;
    width: auto;
    height: 27px;
  }

  .label-container a {
    font-size: 10px;
    padding: 5px;
  }

  .btn-label.label-current {
    background-color: #faef9b;
    font-weight: 600;
    font-size: 10px;
  }

  .select-harvest-btn {
    font-size: 10px;
    width: 85px;
    height: 25px;
    padding: 3px;
  }

  .filter-btn {
    font-size: 10px;
    width: 85px;
    height: 25px;
    padding: 3px;
  }

  .filter-container {
    gap: 0.5rem;
  }

  .cycle-container {
    gap: 0.5rem;
  }
}

/* --------------------------------------------End: Main Responsive View---------------------------------------------*/
