/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
}

.container-top {
  margin-left: 0px;
  margin-right: 0px;
}

.reports-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 77vh;
}

.reports-highlight {
  display: inline;
  background-color: #FEF9D9;
  padding: 0 5px;
  border-radius: 7px;
}

.content-wrapper {
  flex-grow: .5;
}

.container-cont {
  margin-left: 25px;
  margin-right: 25px;
}

.container1 {
  border-radius: 8px;
  height: 390px;
  border: .5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

}

.container2 {
  border-radius: 8px;
  max-height: 500px;
  height: 100%;
  border: .5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);
}

.container3 {
  border-radius: 8px;
  max-height: 500px;
  height: 100%;
  border: .5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

}

.container-chart {
  padding: 8px;
  border-radius: 4px;
  border: .5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(74, 76, 85, 0.2);
}

.chart-container {
  width: 100%;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
}

.legends {
  font-size: 13px;
}

.cycle-container {
  display: flex;
  gap: .7rem;
}

.filter-container {
  display: flex;
  gap: .7rem;
  margin-right: 0px;
}

.date-container a {
  font-size: 12px;
}


.descriptive-analytics-container p {
  font-size: 12px;
}

.descriptive-analytics-container span {
  font-size: 12px;
}


#date-range-label,
#average-value,
#min-value,
#max-value {
  font-size: 12px;
}

.select-parameter-btn {
  background-color: #FCF4B9;
  border-radius: 6px;
  border: solid 1px #2B2B2B;
  font-size: 14px;
  width: 100%;
  width: auto;
  height: 35px;
  padding: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.select-harvest-btn {
  background-color: #FCF4B9;
  border-radius: 6px;
  border: solid 1px #2B2B2B;
  font-size: 12px;
  width: 100%;
  width: 120px;
  height: 32px;
  padding: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.filter-btn {
  background-color: #FCF4B9;
  border-radius: 6px;
  border: solid 1px #2B2B2B;
  font-size: 12px;
  width: 100%;
  width: 120px;
  height: 32px;
  padding: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}


.select-harvest-btn:hover,
.filter-btn:hover,
.select-parameter-btn:hover {
  background-color: #FAEF9B;
  box-shadow: 0 2px #2B2B2B;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.space2 {
  min-height: 5vh;
  overflow-y: auto;
}

.date-pick-size {
  width: 250px;
}

.label-container a {
  font-size: 13px;
  font-weight: 600;
  padding: 8px;
}

.label-container {
  width: 250px;
  border: solid 1px #2B2B2B;
  border-radius: 6px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.label-container:hover {
  box-shadow: 0 2px #2B2B2B;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.container-label {
  flex-direction: column;
  margin-left: 0px;
}

.cycle-container {
  display: flex;
  gap: 0.8rem;
}

.filter-container {
  display: flex;
  gap: 0.8rem;
  margin-right: 0px;
}

.btn-label.label-not {
  border-radius: 6px;
  padding: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  font-weight: 600;
  font-size: 13px;
}

.btn-label.label-current {
  border-radius: 6px;
  padding: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #faef9b;
  font-weight: 600;
  font-size: 13px;
}

.btn-label.label-current:hover {
  background-color: #faef9b;

}

.btn-label.label-not:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}

/* --------------------------------------------End: Main Desktop View---------------------------------------------*/

/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/

@media (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }

  .reports-page {
    box-shadow: 0 6px #2b2b2b;
  }

  .sidebar.collapsed~main {
    padding-left: 4.75rem;
  }

}

@media (max-width: 767.98px) {
  .reports-page {
    height: 100%;
    min-height: 80vh;
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }

  nav {
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);

  }

  .date-parameter-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }

  .select-parameter-btn {
    width: 113px;
    height: 35px;
    padding: 3px;
    font-size: 11.5px;
  }

  #start-date-picker,
  .input-group-text {
    padding: 4px;
    height: 35px;
    font-size: 12px;
  }

  .select-harvest-btn {
    width: 113px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 113px;
    height: 30px;
    padding: 3px;

  }

  .filter-container {
    gap: 11rem;
  }

  .cycle-container {
    gap: 11rem;
  }


  .date-container a {
    font-size: 11px !important;
  }

  .container1 {
    border-radius: 8px;
    height: 510px;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

  }

  .container2 {
    border-radius: 8px;
    max-height: 500px;
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);
  }

  .container3 {
    border-radius: 8px;
    max-height: 500px;
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

  }

  .container-cont {
    margin-left: 5px;
    margin-right: 5px;
  }

  .container-top {
    margin-left: 0px;
    margin-right: 0px;
  }


  .chart-container {
    width: 100%;
    width: auto;
    height: 235px;
    display: flex;
    justify-content: center;
  }

  .container-chart {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-link {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }

  .navbar-link:hover {
    border-radius: 50%;
  }

  .space {
    min-height: 5vh;
    overflow-y: auto;
  }

  .yellow {
    min-height: 5vh;
    background-color: #faef9b;
    border: solid 1px #2B2B2B;
    overflow-y: auto;
  }
}


@media (min-width: 1124px) {
  .container-label {
    flex-direction: row;
  }

  .space2 {
    min-height: 5vh;
    overflow-y: auto;
  }
}


@media (max-width: 768px),
(min-width: 1544px) {
  .space2 {
    display: none !important;
  }
}

@media (max-width: 1123px) and (min-width: 769px) {
  .container-label {
    margin-left: 0px;
  }

  .space2 {
    display: block !important;
  }

  .chart-container {
    width: 100%;
    width: auto;
    height: 255px;
    display: flex;
    justify-content: center;
  }

  .filter-container {
    margin-right: 0px;
  }

  .container1 {
    border-radius: 8px;
    height: 440px;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

  }

  .container2 {
    border-radius: 8px;
    max-height: 500px;
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);
  }

  .container3 {
    border-radius: 8px;
    max-height: 500px;
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

  }

  .space2 {
    min-height: 5vh;
    overflow-y: auto;
  }

}


@media (max-width: 991px) and (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
  }


  .container1 {
    border-radius: 8px;
    height: 440px;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

  }

  .container2 {
    border-radius: 8px;
    max-height: 500px;
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);
  }

  .container3 {
    border-radius: 8px;
    max-height: 500px;
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(74, 76, 85, 0.1);

  }


  .container-label {
    margin-left: 0px;
  }

  .filter-container {
    margin-right: 0px;
  }

  .space2 {
    min-height: 5vh;
    overflow-y: auto;
  }
}


@media (max-width: 965px) {
  .date-container a {
    font-size: 11px !important;
  }

  .date-picker {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-top {
    margin-left: 10px;
    margin-right: 10px;
  }

}


@media (max-width: 766px) and (min-width: 580px) {

  .filter-container,
  .cycle-container {
    gap: 15rem;
  }
}




@media (max-width: 541px) {

  .filter-container {
    gap: 12.5rem;
  }

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .cycle-container {
    gap: 12.5rem;
  }
}


@media (max-width: 501px) {

  .filter-container {
    gap: 8.8rem;
  }

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .cycle-container {
    gap: 8.8rem;
  }
}


@media (max-width: 466px) {

  .filter-container {
    gap: 6.7rem;
  }

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .cycle-container {
    gap: 6.7rem;
  }
}



@media (max-width: 431px) {
  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .filter-container {
    gap: 4.4rem;
  }

  .cycle-container {
    gap: 4.4rem;
  }
}



@media (max-width: 415px) {

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .filter-container {
    gap: 3rem;
  }

  .cycle-container {
    gap: 3rem;
  }
}

@media (max-width: 391px) {
  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .filter-container {
    gap: 1.5rem;
  }

  .cycle-container {
    gap: 1.5rem;
  }
}



@media (max-width: 376px) {
  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .filter-container {
    gap: 3rem;
  }

  .cycle-container {
    gap: 3rem;
  }


  .select-parameter-btn {
    width: 113px;
    height: 35px;
    padding: 3px;
    font-size: 11.5px;
  }


  .select-harvest-btn {
    width: 95px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 95px;
    height: 30px;
    padding: 3px;

  }
}


@media (max-width: 361px) {
  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
  }

  .btn-label.label-not, 
  .btn-label.label-current {
    font-size: 11px;
  }
  
  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .select-harvest-btn {
    width: 100px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 100px;
    height: 30px;
    padding: 3px;

  }

  .filter-container {
    gap: 1.3rem;
  }

  .cycle-container {
    gap: 1.3rem;
  }
}

@media (max-width: 345px) {

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }


  .select-harvest-btn {
    width: 95px;
    height: 30px;
    padding: 3px;
  }

  .filter-btn {
    width: 95px;
    height: 30px;
    padding: 3px;

  }

  .filter-container {
    gap: .5rem;
  }

  .cycle-container {
    gap: .5rem;
  }
}



@media (max-width: 321px) {

  .label-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
    /* Add spacing between rows */
  }

  .date-pick-size {
    width: 100%;
    max-width: 700px;
  }



  .select-harvest-btn {
    font-size: 10px;
    width: 85px;
    height: 25px;
    padding: 3px;

  }

  .filter-btn {
    font-size: 10px;
    width: 85px;
    height: 25px;
    padding: 3px;

  }

  .filter-container {
    gap: 1.7rem;
  }

  .cycle-container {
    gap: 1.7rem;
  }
}