/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
  color: #292929;
}

.beeguide-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 77vh;
}

.beeguide-highlight {
  display: inline;
  background-color: #fef9d9;
  padding: 0 5px;
  border-radius: 7px;
}

h4 {
  display: inline;
  box-shadow: inset 0 -2px 0 rgba(255, 229, 119), 0 2px 0 rgba(255, 229, 119);
  transition: box-shadow 0.3s;
  color: inherit;
  overflow: hidden;
}

h4:hover {
  box-shadow: inset 0 -30px 0 rgba(255, 229, 119), 0 2px 0 rgba(255, 229, 119);
  border-radius: 10px;
}

.custom-hr {
  border: 0;
  height: 3.5px;
  background-color: #292929; /* Change color as needed */
  width: 70%; /* Adjust width */
  margin: 20px auto; /* Center with spacing */
  border-radius: 10px;
}

.custom-hr2 {
  border: 0;
  height: 3.5px;
  background-color: #f9e37f; /* Change color as needed */
  width: 40%; /* Adjust width */
  margin: 20px auto; /* Center with spacing */
  border-radius: 10px;
}

.clearNotif {
  font-size: 0.8rem !important; /* Smaller font size */
  padding: 4px 5px !important; /* Reduce padding */
}

#nf-btn {
  font-size: 0.9rem !important; /* Adjust as needed */
  padding: 2px 4px !important; /* Reduce padding */
}

.notif-container {
  max-width: 290px !important; /* Smaller width */
  padding: 6px !important;
  font-size: 0.75rem !important;
}

/* Smaller notification header */

.notification-content {
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
}

.notification-item {
  max-width: 250px !important; /* Set a smaller width */
  margin: 5px auto !important; /* Center and reduce margin */
  padding: 4px 8px !important;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 5px !important; /* Slightly rounded corners */
}

.notification-icon {
  width: 25px !important;
  height: 25px !important;
  margin-right: 4px !important;
}

.notif_message {
  font-size: 0.8rem !important;
}

.notif_date {
  font-size: 0.75rem !important;
}

@media (max-width: 767px) {
  .custom-hr {
    width: 90%; /* Adjust width */
  }
  .custom-hr2 {
    width: 80%; /* Adjust width */
  }
}

.beeguide-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  background-color: white;
}
.content-wrapper {
  flex-grow: 0.5;
}

.scrollable-content {
  max-height: auto; /* Set desired height for the scrollable area */
  overflow-y: auto;
}

@media (max-width: 767.98px) {
  .space {
    min-height: 5vh;
    overflow-y: auto;
  }
}

.lower-p,
.right-p {
  font-size: 14px; /* Default font size */
  margin: 0; /* Remove default margins to control spacing */
  padding: 0; /* Remove any padding */
  text-align: justify;
}

@media (max-width: 991px) {
  .lower-text {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 767.98px) {
  .lower-text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .lower-p,
  .right-p {
    font-size: 12px; /* Default font size */
  }
  strong {
    font-size: 12px; /* Default font size */
  }
}

.lower-text {
  max-width: 80%; /* Matches the image width */
  margin: 0 auto; /* Centers the text relative to the image */
  border: solid;
  border-color: #292929;
  border-radius: 7px;
  border-width: 2px;
  background-color: #f3f8ff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.param-img,
.reports-img,
.workers-img,
.harvest-img {
  width: 80%; /* Default for larger screens */
  max-width: 990px; /* Prevents it from stretching too much on larger screens */
  min-width: 300px; /* Ensures it doesn't shrink too much on smaller screens */
  height: auto;
}

@media (max-width: 1140px) {
  .param-img,
  .reports-img,
  .workers-img,
  .lower-text,
  .harvest-img {
    width: 100%; /* Full width on mobile screens */
    max-width: 550px; /* Limits how small the image can get */
  }
}

@media (max-width: 767px) {
  .param-img,
  .reports-img,
  .workers-img,
  .lower-text,
  .harvest-img {
    width: 90%; /* Full width on mobile screens */
    max-width: 550px; /* Limits how small the image can get */
  }
}

/* --------------------------------------------End: Main Desktop View---------------------------------------------*/
/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/

@media (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }
  .beeguide-page {
    box-shadow: 0 6px #2b2b2b;
  }
  .sidebar.collapsed ~ main {
    padding-left: 4.75rem;
  }
}
@media (max-width: 767.98px) {
  .beeguide-page {
    height: 100%;
    min-height: 78vh;
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  nav {
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  .navbar-link {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }
  .navbar-link:hover {
    border-radius: 50%;
  }

  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 280px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.75rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.75rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }
  .space {
    min-height: 5vh;
    overflow-y: auto;
  }

  .yellow {
    min-height: 5vh;
    background-color: #faef9b;
    border: solid 1px #2b2b2b;
    overflow-y: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
  }
}
/* --------------------------------------------End: Main Responsive View---------------------------------------------*/
