/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
}
.choosehive-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 77vh;
}
.content-wrapper {
  flex-grow: 0.5;
}
.choosehive-highlight {
  display: inline;
  background-color: #fef9d9;
  padding: 0 5px;
  border-radius: 7px;
}
.hive-button {
  width: 100%;
  height: 50px;
  max-width: 525px;
  box-shadow: 0 5px #2b2b2b;
  border-radius: 11px;
  background-color: #fcf4b9;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.hive-button:hover {
  background-color: #faef9b;
}
.add-hive-btn {
  background-color: #fcf4b9;
  font-size: 12px;
  border-radius: 20px;
  width: 100%;
  padding: 7px;
  max-width: 80px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.add-hive-btn:hover {
  background-color: #faef9b;
  box-shadow: 0 5px #2b2b2b;
}

.delete-btn {
  background-color: #fcf4b9;
  font-size: 12px;
  border-radius: 20px;
  width: 100%;
  padding: 7px;
  max-width: 80px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.delete-btn:hover {
  background-color: #faef9b;
  box-shadow: 0 5px #2b2b2b;
}
.edit-icon {
  font-size: 13px;
  padding-right: 3px;
  color: #2b2b2b;
}
.edit-button {
  background-color: #fcf4b9;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 15px;
  width: 100%;
  padding: 7px;
  max-width: 180px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.edit-button:hover {
  background-color: #faef9b;
  box-shadow: 0 5px #2b2b2b;
}
.clearNotif {
  font-size: 0.8rem !important; /* Smaller font size */
  padding: 4px 5px !important; /* Reduce padding */
}

#nf-btn {
  font-size: 0.9rem !important; /* Adjust as needed */
  padding: 2px 4px !important; /* Reduce padding */
}

.notif-container {
  max-width: 290px !important; /* Smaller width */
  padding: 6px !important;
  font-size: 0.75rem !important;
}

/* Smaller notification header */

.notification-content {
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
}

.notification-item {
  max-width: 250px !important; /* Set a smaller width */
  margin: 5px auto !important; /* Center and reduce margin */
  padding: 4px 8px !important;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 5px !important; /* Slightly rounded corners */
}

.notification-icon {
  width: 25px !important;
  height: 25px !important;
  margin-right: 4px !important;
}

.notif_message {
  font-size: 0.8rem !important;
}

.notif_date {
  font-size: 0.75rem !important;
}

 .space2 {
    min-height: 2vh;
    overflow-y: auto;
  }
/* --------------------------------------------End: Main Desktop View---------------------------------------------*/
/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/
@media (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }
  .choosehive-page {
    box-shadow: 0 6px #2b2b2b;
  }
  .sidebar.collapsed ~ main {
    padding-left: 4.75rem;
  }
}
@media (max-width: 767.98px) {
  .choosehive-page {
    min-height: 74vh;
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  nav {
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  .navbar-link {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }
  .navbar-link:hover {
    border-radius: 50%;
  }
  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 280px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.75rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.75rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }
  
  
.edit-button {
  background-color: #fcf4b9;
  font-size: 13px;
  border-radius: 16px;
  text-transform: uppercase;
  width: 100%;
  padding: 6px;
  max-width: 130px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
  
  
  .yellow {
    min-height: 5vh;
    background-color: #faef9b;
    border: solid 1px #2b2b2b;
    overflow-y: auto;
  }
  
   .space {
    min-height: 5vh;
    overflow-y: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 400px){
  .clearNotif {
    font-size: 0.7rem !important; /* Smaller font size */
    padding: 4px 5px !important; /* Reduce padding */
  }

  #nf-btn {
    font-size: 0.8rem !important; /* Adjust as needed */
    padding: 2px 4px !important; /* Reduce padding */
  }

  .notif-container {
    max-width: 265px !important; /* Smaller width */
    padding: 6px !important;
    font-size: 0.7rem !important;
  }

  /* Smaller notification header */

  .notification-content {
    font-size: 0.7rem !important;
    line-height: 1.2 !important;
  }

  .notification-item {
    max-width: 240px !important; /* Set a smaller width */
    margin: 5px auto !important; /* Center and reduce margin */
    padding: 4px 8px !important;
    background-color: #f3f8ff; /* Light gray background */
    border-radius: 5px !important; /* Slightly rounded corners */
  }

  .notification-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 4px !important;
  }

  .notif_message {
    font-size: 0.8rem !important;
  }

  .notif_date {
    font-size: 0.7rem !important;
  }
}
/* --------------------------------------------End: Main Responsive View---------------------------------------------*/
