
main {
  min-height: 100vh;
}

.terms-page{
    height: 77vh;
}
.terms-highlight{
    display: inline;
    background-color: #FEF9D9;
    padding: 0 5px;
    border-radius: 7px;
  }
.main-terms {
    transition: .2s;
    padding-left: 7rem;
    padding-top: 2rem;
    padding-right: 7rem;
  }
  .logo-terms {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .terms-conditions-content{
    margin-left: 25px;
    margin-right: 25px;
  }
  .about-us{
    font-size: 1.1rem;
  }
  .logo-side{
    padding-left: 2rem;
  }
  .about-side{
    padding-right: 2rem;
  }
  .justify-text {
    text-align: justify;
  }
  .scrollable-text{
    font-size: 1rem;
    font-weight:400;
  }
  .terms-button{
    background-color: #FCF4B9;
    max-width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  .terms-button:hover{
    background-color: #FAEF9B;
    box-shadow: 0 4px #2B2B2B;
  }
  .nav-terms{
    background-color: #F3F8FF;
  }
  .terms-img {
    max-width: 100%;
    height: auto;
  }

@media (max-width: 768px) {
    .main-terms {
      padding-top: 0%;
      align-items: center;
      padding-left: 0%;
      padding-right: 0%;
    }
    .logo-side {
      padding-left: 0;
    }
    .about-side {
      padding-right: 0;
    }
    .about-us {
      font-size: 1rem;
    }
    .scrollable-text {
      font-size: 1rem !important;
    }
}

@media (max-width: 992px) {
    .centered-image {
        display: flex;
        justify-content: center;
    }
  }

@media (max-width: 576px) {
    .nav-terms {
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }
}

@media (max-width: 767.98px) {
    .terms-page{
        min-height: 74vh;
        padding: 10px;
        margin: 10px;
        box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    }
    nav{
        padding: 10px;
        margin: 10px;
        box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
    }

    .terms-conditions-content{
        margin-left: 0px;
        margin-right: 0px;
      }
    .yellow {
        min-height: 5vh;
        background-color: #FAEF9B;
        overflow-y:auto;
    }
}